@model IEnumerable<ToolBoxDeveloper.DomainContext.MVC.Domain.Dto.DomainContextDto>
@{
    ViewData["Title"] = "Index";
}
<h1>Lista de Dominios</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Novo
    </a>
</p>
<div style="overflow-x:auto;">
    <table class="table table-striped">
        <caption>Tabela com as palavras de dominio</caption>
        <thead>
            <tr>
                <th scope="col">Organização</th>
                <th scope="col">Dominio</th>
                <th scope="col">Contexto</th>
                <th scope="col">Chave</th>
                <th scope="col">Descrição</th>
                <th scope="col">Usuario</th>
                <th scope="col">Editar</th>
                <th scope="col">Excluir</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Organization)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Domain)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Context)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Key)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserRegister)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-info">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                    </td>
                    <td>
                        <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>